.vivo{
    margin-top: 50px;
}
.dik{
    text-align: center;
}
.jek{
    margin-top: 70px;
    margin-left: -290px;
}
.qase{
    margin-left: 150px;
}
.bom{
    margin-left: 50px;
    margin-top: 20px;
}
.lol{
    margin-left: 220px;
}